@import "../themes/default.less";
@import "./border.less";
@import "./icon.less";
@import "../mixins/mask.less";


.vk-cell{
   .border-top(@color-grey);
   .border-bottom(@color-grey);
   text-decoration: none;
   background-color: @color-white;
   box-sizing: border-box;
   color: inherit;
   display: flex;
   flex-direction: column;
   font-size: 16px;
   line-height: 1;
   overflow: hidden;
   padding: 15px 10px;
   position: relative;
   & + .vk-cell::after {
     content: none;
   }
   &::before {
     left: 10px;
     right: 10px;
     width: auto;
   }

   &-mask {
     .mask(0.1)
   }
   &-body {
     display: -webkit-box;
     color: #999;
     font-size: 12px;
     margin-top: 13px;
     align-items: flex-end;
   }
   &-label {
     display: block;
     flex: 1;
     -webkit-box-flex: 1;
   }
   img {
     vertical-align: middle;
   }
   &-title {
     display: -webkit-box;
     flex: 1;
     color: @cell-value-title;
   }

   &-after.vk-icon,&-icon.vk-icon{
     position: relative;
     height: 100%;
     position: absolute;
     top: 50%;
     margin-top: -8px;
   }

   &-text {
     flex: 1;
     word-wrap: break-word;
     width: 100%;
    -webkit-user-select: none;
     line-height: 18px;
     white-space: nowrap;
      text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-flex: 1;
   }
   &-icon {
     width: 22px;
     color: @border-color
   }
}
.vk-field .vk-cell::after{content: initial;}
