@font-face {
  font-family: "icomoon";
  src: url('../font/icomoon.ttf?3k9s4n')
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  color: #c8c8cd;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
  content: "\e901";
}
.icon-alarms:before {
  content: "\e191";
}
.icon-balance:before {
  content: "\e84f";
}
.icon-box:before {
  content: "\e851";
}
.icon-add_alarm:before {
  content: "\e856";
}
.icon-add_fill:before {
  content: "\e147";
}
.icon-add_circle:before {
  content: "\e3ba";
}
.icon-adjust:before {
  content: "\e39e";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-arrow_down:before {
  content: "\e5c5";
}
.icon-arrow_up:before {
  content: "\e5c7";
}
.icon-battery_alert:before {
  content: "\e19c";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-check:before {
  content: "\e86c";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-cloud_down:before {
  content: "\e2c0";
}
.icon-edit:before {
  content: "\e254";
}
.icon-desktop:before {
  content: "\e30c";
}
.icon-error:before {
  content: "\e15c";
}
.icon-face:before {
  content: "\e87c";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_circle:before {
  content: "\e87e";
}
.icon-folder:before {
  content: "\e2c7";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-info:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-mic:before {
  content: "\e029";
}
.icon-mic_none:before {
  content: "\e02a";
}
.icon-mood_bad:before {
  content: "\e7f3";
}
.icon-add_note:before {
  content: "\e89c";
}
.icon-pause1:before {
  content: "\e034";
}
.icon-pause2:before {
  content: "\e035";
}
.icon-pause3:before {
  content: "\e036";
}
.icon-iphone:before {
  content: "\e325";
}
.icon-pin:before {
  content: "\e55e";
}
.icon-play1:before {
  content: "\e037";
}
.icon-play2:before {
  content: "\e039";
}
.icon-power:before {
  content: "\e8ac";
}
.icon-warning:before {
  content: "\e002";
}
.icon-list:before {
  content: "\e8ef";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-zoom_out:before {
  content: "\e900";
}
.icon-zoom_map:before {
  content: "\e56b";
}
