// 遮罩
// 在低版本的 android ::after 阻止元素孩子节点的单击事件
.mask(@opacity) {
  &::after {
    background-color: #000;
    content: " ";
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:active::after {
    opacity: @opacity;
    display: block;
  }
}
